:host {
    display: block;
    width: 100%;
    /* height: 100vh; */
    background: linear-gradient(to right,  #dcdcfa, #cfe6fa);
    overflow: hidden;
  }
  img{
    
    padding-left: 100px;
  }
  li a{
    /* text-decoration: double; */
    font-size: x-large;
  }
  .navbar-nav .nav-item:hover .nav-link {
    color: orange;
  }
  
 
  